.gallery {

  &__section {
    padding-top: 20px;

    @media (min-width: (578px)) {
      padding-top: 30px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;

    @media (min-width: (768px)) {
      margin-bottom: 30px;
    }
  }

  &__filter {
    display: flex;
    align-items: stretch;   
    gap: 10px;
    margin-bottom: 10px;

    overflow-x: scroll;

    @media (min-width: (578px)) {
      overflow-x: auto;
      margin-bottom: 20px;
    }
   

    @media (min-width: (768px)) {
      margin-bottom: 30px;
      justify-content: center;
    }
  }

 

  &__button {
    position: relative;
    z-index: 2;
    display: block;
    padding: 6px 24px;
    height: 100%;
    font-size: 15px;
    text-transform: capitalize;
    color: $grey-dark;
    border-radius: 10px;
    border: 1px solid $grey-dark;
    overflow: hidden;
    transition: outline 0.4s, color 0.4s;

    @media (min-width: (768px)) {
      font-size: 17px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: $secondary;
      transition: width 0.6s;
      z-index: -2;
    }

    &:focus {
      outline: solid 1px $grey;
      outline-offset: 2px;
    }

    &:hover {
      color: $light;

      &::before {
        width: 100%;
      }
    }

    &.mixitup-control-active {
      background-color: $secondary;
      color: $light;
    }
  }

  &__img {
    object-fit: cover;
    border-radius: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

      }
      
  &__item {
    width: calc((100% -  20px) / 2);

     @media (min-width: (578px)) {
width: calc((100% - 2 * 20px) / 3);
     }

      @media (min-width: (768px)) {
        width: calc((100% - 3 * 20px) / 4);
      }

  }
}