.info {

  &__title {
    margin-bottom: 20px;

     @media (min-width: (576px)) {
      margin-bottom: 40px;
     }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;

    @media (min-width: (576px)) {
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    flex-grow: 1;

    @media (min-width: (576px)) {
      width: calc((100% - 1 * 30px) / 2);
    }

    @media (min-width: (768px)) {
      width: calc((100% - 2 * 30px) / 3);
    }

    &:first-child {
      margin-bottom: 20px;

      @media (min-width: (576px)) {
        margin-right: 30px;
        margin-bottom: 0;
      }

      @media (min-width: (1024px)) {
        margin-right: 0;
      }

    }

    &:not(:last-child) {
      @media (min-width: (1024px)) {
        margin-right: 30px;
      }
    }

    &--hidden {
      display: none;

      @media (min-width: (1024px)) {
        display: block;
      }
    }
  }
}