.about {
  background-color: $light;

  &__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 16px;
    background-color: $bg;
    border-radius: 24px;

    @media (min-width: (768px)) {
      flex-direction: row;
      padding: 30px 40px;
      margin: 0 30px;
    }

    @media (min-width: (1200px)) {
      margin: 0;
      padding: 50px 65px;
    }
  }

  &__photos {

    @media (min-width: (768px)) {
      margin-right: 30px;
    }

    @media (min-width: (1024px)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: (1200px)) {
      margin-right: 50px;
    }

  }

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;


    @media (min-width: (768px)) {
      flex-direction: column;
      margin-bottom: 0;
    }

    @media (min-width: (1024px)) {
      margin-right: 30px;
    }


    &--rigth {
      display: none;

      @media (min-width: (1024px)) {
        display: flex;
        margin-right: 0;
      }
    }
  }



  &__img-box {

    @media (min-width: (768px)) {
      width: 250px;
    }

    &:first-child {
      @media (min-width: (578px)) {
        margin-right: 20px;
      }

      @media (min-width: (768px)) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &--1 {
      .about__img {
        height: 290px;
      }

      @media (min-width: (768px)) {
        height: 290px;
      }
    } 

    &--2 {
      display: none;

      @media (min-width: (578px)) {
        display: block;
      }
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;
    border-radius: 24px;
    

    @media (min-width: (768px)) {
      height: auto;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__txt {
    margin-bottom: 10px;
  }

  &__button {
    width: fit-content;
  }
}