.articles {

  &__title {
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
  }

  &__item {
    width: calc((100% - 2 * 30px) / 3);
    flex-grow: 1;
    
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.articles-card {
  padding: 20px 20px 40px;
  border-radius: 24px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  

  &__img {
    object-fit: cover;
    margin-bottom: 24px;
    border-radius: 24px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $secondary;
    margin-bottom: 8px;
  }

  &__txt {
    font-size: 18px;
    margin-top: auto;
    
  }
}