.contact {

  &__inner {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 0;

    @media (min-width: (576px)) {
      background-position: left top;
      background-size: 45%;
    }

    @media (min-width: (768px)) {
      background-position: left center;
    }
  }

  &__section {
    padding-top: 20px;

    @media (min-width: (768px)) {
      padding-top: 30px;
    }
  }

  &__content {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    @media (min-width: (578px)) {
      width: 50%;
      margin: 0;
      margin-left: auto;
    }

    @media (min-width: (1024px)) {

      max-width: 510px;
      width: 100%;

    }
  }

  &__title {
    font-size: 60px;
    @media (min-width: (768px)) {
      margin-bottom: 10px;
      font-size: 84px;
    }
  }

  &__txt {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;

    @media (min-width: (768px)) {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @media (min-width: (1024px)) {
      margin-bottom: 30px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
    max-width: 350px;
    width: 100%;


    @media (min-width: (1024px)) {
      margin: 0 auto 40px;
    }
  }

  &__item {
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    @media (min-width: (578px)) {
      font-size: 17px;
    }
&--address {
  align-items: flex-start;
}
    &--big {
      font-size: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item-txt {
    text-align: left;
  }

  &__icon {
    fill: currentColor;
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__form {
    text-align: left;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }
}