.footer {
  padding: 50px 0 30px;
  background-color: $secondary;
  color: $light;
  line-height: 1.5;
  font-weight: 300;

  @media (min-width: (1024px)) {
    padding: 70px 0 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: (768px)) {
      flex-direction: row;
    }
  }


  &__logo {
    display: block;
    height: fit-content;
    flex-shrink: 0;
    margin: 0 auto 40px;

    @media (min-width: (768px)) {
      margin: 0 30px 40px 0;
    }

    &:focus {
      outline: solid 1px $light;
      outline-offset: 4px;
      border-radius: 4px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 30px;

    @media (min-width: (1024px)) {
      flex-wrap: nowrap;
      max-width: 1000px;
      width: 100%;
      justify-content: space-around;
    }
  }

  &__links {
    max-width: 200px;
    width: 100%;
    text-transform: uppercase;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__link {
    letter-spacing: 0.06em;
    transition: outline 0.4s, border-bottom 0.4s, font-weight 0.4s;

    &:focus {
      outline: solid 1px $light;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      border-bottom: 1px solid $light;
    }

    &:active,
    &.current {
      font-weight: 600;
    }
  }

  &__contacts {
    max-width: 320px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__address {
    display: block;
    margin-bottom: 16px;
  }

  &__phone {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    width: fit-content;
    transition: outline 0.4s, color 0.4s, font-weight 0.4s;

    &:focus {
      outline: solid 1px $light;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $dark;
    }

    &:active {
      color: $dark;
    }
  }

  &__mail {
    display: flex;
    align-items: center;
    width: fit-content;
    transition: outline 0.4s,
      color 0.4s,
      font-weight 0.4s;

    &:focus {
      outline: solid 1px $light;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $dark;

      .footer__icon {
        fill: $dark;
      }
    }

    &:active {
      color: $dark;
    }
  }

  &__icon {
    fill: $light;
    margin-right: 8px;
    transition: fills 0.4s;
  }

  &__social {
    max-width: 200px;
    width: 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    color: rgba($accent-light, 0.3);
    font-size: 16px;

    @media (min-width: (578px)) {
      flex-direction: row;
    }
  }

  &__bottom-item {
    &:not(:last-child) {
      margin-bottom: 10px;
      @media (min-width: (578px)) {
        margin-bottom: 0;
      }
    }
  }

}