.hero {
  position: relative;
  padding: 40px 0;

  @media (min-width: (768px)) {
    padding: 60px 0;
  }

  @media (min-width: (1024px)) {
    display: flex;
    align-items: center;
    height: calc(80vh + 106px);
    padding: 0;

  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/bg-hero.jpg');
    width: 100%;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__container {
    position: relative;

    &::before {
      @media (min-width: (768px)) {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        background-image: url('../images/hero.png');
        right: 15px;
        bottom: -20px;
        width: 37%;
        height: 470px;
        z-index: 1;
      }

      @media (min-width: (1024px)) {
        height: 600px;
        bottom: -70px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 100%;

    @media (min-width: (768px)) {
      width: 60%;
    }
  }

  &__title {
    font-size: 66px;
    margin-bottom: 20px;

    @media (min-width: (375px)) {
      font-size: 76px;
    }

    @media (min-width: (578px)) {}

    @media (min-width: (768px)) {}

    @media (min-width: (1024px)) {
      font-size: 96px;
    }
  }

  &__txt {
    font-size: 27px;
    margin-bottom: 30px;



    @media (min-width: (578px)) {}

    @media (min-width: (768px)) {
      margin-bottom: 60px;
    }
  }
}