.card {
  padding: 20px;
  border-radius: 24px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__top {
    background-image: url(../../images/articles/screening.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    min-height: 330px;
    height: 100%;
    max-width: 600px;
    width: 100%;
    border-radius: 24px;

    margin-bottom: 24px;
  }


  &__img {
    object-fit: cover;
    margin-bottom: 24px;
    border-radius: 24px;
    grid-row: 1;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $secondary;
    margin-bottom: 8px;
  }

  &__txt {
    font-size: 18px;
    margin-top: auto;

  }
}

.swiper {
  padding-bottom: 50px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

}

.swiper-slide {
  &.swiper-slide-active {
    transform: translatey(-60px) scale(1.1);
    margin-right: 30px;

    .card__bottom {
      transform: scaleY(0.87);
    }

    
  }
}

.swiper-pagination-bullet {
  background-color: $secondary;
  width: 12px;
  height: 12px;
  margin: 0 20px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  background-color: $light;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.swiper-button-next {
  background-image: url(../../images/icons/arrow-next.svg);
}

.swiper-button-prev {
  background-image: url(../../images/icons/arrow-prev.svg);
  margin-right: 24px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}


